# https://cran.r-project.org/web/packages/ffscrapr/vignettes/espn_authentication.html
ESPN_S2='AJDLKFgnsgdo8JDG0sht43tkadgsdfkjJSDLfkjwolisejfSignmSLDifkjWEMFSKDFJSJFDSdsfsdf4346AKJFLKSADJGSJFKJADSFLKJASF'
SWID='{2834ASDFK-45SDKF-6541-MD23-215DJMFS52}'
LEAGUE_ID=987654